
html{
  font-size: 62.5%; /*62.5*16px=1rem*/
  box-sizing: border-box;
}
body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;


}
header{
  grid-area: header;
  background-color: #203040;
}
main{
  grid-area: main;
  padding: 1rem;
}
footer{
  grid-area: footer;
  background-color: #203040;
  color: #fff;
 
}
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}
h3{
  font-size: 1.8rem;
  padding: 1rem 0;
}

/*Text-decoration*/
a{
  text-decoration: none;
}
a:hover{
  color: rgba(240, 174, 51, 0.849);
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li{
  margin-top: 1rem;
  font-size: 15px;
  font-weight: bold;
}
header a{
  color: #fff;
  padding: 1rem;

}
a.brand{
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center{
  justify-content: center;
}
.row.top{
  align-items: flex-start;
}
.col-1{
  flex:1 1 25rem;
}
.col-2{
  flex:2 1 50rem;
}
/* images*/
img{
  border-radius: 0.5rem;
  height: 679px;
  width: 829px;
  

}
img.medium{
  max-width: 29rem;
  width: 100%;

}
button{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.2rem #a4a4aa;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  
  cursor: pointer;


}
button.primary{
  background-color:rgba(255, 217, 0, 0.737);
}
button.block{
  width: 100%;
}
img.large{
  width: 100%;
}


/* card board*/
.card{
  border: 0.1rem grey solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  width: auto;
  height: auto;
  
}
.card-body{
  padding: 1rem;

}
.card-body >* {
  margin-bottom: 0.5rem;
}
.price{
  font-size: 2rem;
}
.rating span{
  color: rgba(2, 61, 30, 0.851);
  margin: 0.1rem;
}
.rating span :last-child{
  color:goldenrod;
}
/*Alert*/
.success{
  color: #20a020;
}
.error{
  color: #a20;
}
.alert{
  padding: 1rem;
  border-radius: 0.1rem solid transparent;
  border: 0.5rem;
}
.alert-info{
  color: blue;
  background-color: #f8f8f8;
}


















